<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap'); */
    .study {
        background-color:wheat;
        /* font-family: 'Nanum Gothic Coding', monospace; */
        padding: 3% 3% 3% 3%;
        border-radius: 15px;
        font-size: 1vw;
    }
</style>

<div class="study">
    <p>
        The posts is for personal study.<br>
        If you find some mismatches or errors, please give comments or email to me. <br>
        Thank you. :)
    </p>        
</div>
